/* Importing Main Class */

@import url(../stylesheets/main.css);


body{
    font-family: var(--lato-font);
}
/* Nav bar CSS */
nav a{
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
    background-color: var(--white);
    padding: 1rem 0.75rem;
    font-family: var(--acme-font);
    box-shadow: var(--box-shadow-primary);
}
.nav-brand a{
    font-weight: var(--wgt-bold-dark);
    color: var(--primary);
}
.nav-pills{
    display: flex;
    margin-left: auto;
    flex: 0 1 12rem;
    justify-content: space-around;
    
}
.nav-pills a{
    color: var(--primary);
}
/* Header CSS */
header {
 display: flex;
 justify-content: center;
 background-color: var(--primary-transparent);
}
header .hero-img{
    min-width: 13rem;
    max-width: 20rem;
    height:auto;
    object-fit: cover;
}

.section-1{
  background-color: var(--primary);
  color: var(--white);
  justify-content: center;
}

.sec1-buttons .btn{
    background-color: var(--white);
    color: var(--primary);
    font-size: 1.4rem;
    padding: 1rem 1.5rem;
}

.section-2{
    color: var(--primary);
    background-color: var(--primary-transparent);
    flex-wrap: wrap;
    align-items: center;
    gap: var(--size-md);
}

footer{
    background-color: var(--primary);
    color: var(--white);
    font-family: var(--acme-font);
}

.footer-links a{
    color: var(--white);
}

.fab:hover{
  color: var(--grey-dark);
  cursor: pointer;
}
.gs-text{
    flex: 0 1 40rem;
}
.gs-code{
    flex: 1 1 30rem;
   
}

.install-code{
    border: 0;
    width: 100%;
    height: 17.5rem;
    transform: scale(1);
    overflow: hidden;           
}
.search-icons-links{
    color: var(--primary);
}
