/* Importing Base Classes */
@import url(../stylesheets/base/reset.css);
@import url(../stylesheets/base/typography.css);
@import url(../stylesheets/base/spacing.css);

/* Importing Utils Classes */
@import url(../stylesheets/utilities/variables.css);

/* Importing Components Classes */
@import url(../stylesheets/components/avatar.css);
@import url(../stylesheets/components/badge.css);
@import url(../stylesheets/components/alert.css);
@import url(../stylesheets/components/button.css);
@import url(../stylesheets/components/cards.css);



/* Container Box in grey to display the components */
.demo-container{
    display: flex;
    flex-wrap: wrap;
   
    border: 2px solid grey;
    border-radius: 5px;
    margin: 1rem 2rem;
}

.align-baseline{
    display: flex;
    align-items: baseline;
}

.align-center{
    display: flex;
    align-items: center;
}

.img-round{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.flex-column{
    display: flex;
    flex-direction: column; 
    align-items: stretch;
}

 .demo-cards{
     gap: 2rem;    /* Space between two cards */
}
