.nav-class a {
    text-decoration: none;
    color: var(--primary);
}

.nav-class {
    flex-wrap: wrap;
    height: 5.5rem;
    justify-content: space-around;
    padding: 1rem 0;
    background-color: var(--white);
    font-family: var(--acme-font);
    box-shadow: var(--box-shadow-simple);
}

.nav-brand {
    margin-left: 1rem;
}

#search-bar,
.search-field {
    border-radius: 5px;
    border: 2px solid var(--primary);
}

.search-field {
    position: relative;
    width: 300px;
    background-color: var(--white);
    margin-left: 2rem;
}

#search-icon {
    position: absolute;
    top: 20%;
    right: 2%;
}

#search-bar {
    border: none;
    height: 2.5rem;
    width: 85%;
    font-size: 1.2rem;
    padding: 0rem 0.5rem;
}


.navbar-pills i {
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    margin: 0.5rem 0.5rem 0.2rem 0.5rem;
    justify-content: space-between;
}

.navbar-pills {
    margin-left: 10px;
}

@media only screen and (max-width: 800px) {
    .nav-class {
        height: min-content;
    }
}