h1,
.para-xxl {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: var(--wgt-bold-dark);
}

h2,
.para-xl {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: var(--wgt-bold);
}

h3,
.para-lg {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: var(--wgt-bold-semi);
}

h4,
.para-md {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: var(--wgt-bold-semi);
}

h5,
.para-sm {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: var(--wgt-bold);
    
}

/* Font-weight */

.fw-lighter{
    font-weight: var(--wgt-lighter);
}

.fw-light{
    font-weight: var(--wgt-light);
}
.fw-regular{
    font-weight: var(--wgt-regular);
}

.fw-semi-bold{
   font-weight: var(--wgt-bold-semi);
}
.fw-bold{
   font-weight: var(--wgt-bold);
}

.fw-dark-bold{
    font-weight: var(--wgt-bold-dark);
}

/* Font Size */
.fs-xsm{
    font-size: 0.5rem;
    line-height: 1rem;
}
.fs-sm{
    font-size: 1rem;
    line-height: 1.5rem;
}
.fs-sm-plus{
    font-size: 1.5rem;
    line-height: 2rem;
}
.fs-md{
    font-size: 2rem;
    line-height: 2.5rem;
}
.fs-md-plus{
    font-size: 2.5rem;
    line-height: 3rem;
}
.fs-lg{
    font-size: 3rem;
    line-height: 4rem;
}

/* Font Style */

.fs-italic{
  font-style: italic;
}
.fs-underline{
  font-style: underline;
}

